*{
    margin:0; /its for all space taken are remove/
    padding:0;
  }
  body{
    margin:0;
    padding:0;
    background-size:100% ;
  }

  ul{
    list-style-type:none;
    background-color:black;
    color:white;
  }
  ul li{
    display:inline-block;
    padding:30px;
  }
  ul li:hover{
    background-color:green;
    color:white;
  } 
  .dropdown{display:none;}
  ul li:hover .dropdown { /* hover work on go to mouse/cursor */
   display:block;
    position: absolute ;
    margin-left:30px;
    margin-top:20px;
  }
  .dropdown ul{
    margin:0;
    padding:0;
  }
  .dropdown ul li{
    display:block;
    margin:0;
  }
  a{
    text-decoration:none;/* its for remove the underline from the href link as example in home tag by default underline come but by use text-decoration:none its remove that underline*/
  }
  img{
    width: 100%;
  }
  .push{display:none;}
  ul li:hover .push { /* hover work on go to mouse/cursor */
   display:block;
    position: absolute ;
    margin-left:30px;
    margin-top:20px;
  }
  .push ul{
    margin:0;
    padding:0;
  }
  .push ul li{
    display:block;
    margin:0;
  }
